$main-green-color: #9BD770;
$grey-light-color: #FAFAFA;
$ivory: #FFFFF0;
$light-coral: #F08080;
$font-variables: 'Gibson Light', 'Gibson Bold', 'Gibson Regular', 'Gibson SemiBold';
$noti-red-color: #ff3860;
$noti-green-color: #23d160;
$noti-yellow-color: #ffdd57;
$heart-color: #a52a2a;
